<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FERDI Z-AFK REST API</title>
    <link href="https://oni-chan.my.id/LoLHuman/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://oni-chan.my.id/LoLHuman/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://oni-chan.my.id/LoLHuman/css/default.css" rel="stylesheet">
    <link href="https://oni-chan.my.id/LoLHuman/css/style.css" rel="stylesheet">
</head>

<body id="page-top" class="dark-mode">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <i class="fa fa-smile-beam fa-2x"></i>
                <div class="sidebar-brand-text mx-3">FERDIZ APIs</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-thermometer-three-quarters"></i>
                    <span>Statistic</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Features
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTextPro" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fas fa-pencil-alt"></i>
                    <span>FERDIZ MAKER</span>
                </a>
                <div id="collapseTextPro" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Fmake Features</h6>
                        <a class="collapse-item" href="/api/Fmake/blackpink?text=maker blackpink&apikey=" target="_blank">Blackpink</a>
                        <a class="collapse-item" href="/api/Fmake/phlogo?text=maker&text2=blackpink&apikey=" target="_blank">pornhub</a>
                        <a class="collapse-item" href="/api/Fmake/sertiff?text= FERDI Z-AFK&text2=Garena ep ep&apikey=" target="_blank">sertifikat ffv1</a>
                        <a class="collapse-item" href="/api/Fmake/nulis?nama=Ferdi zaky luthfi aridho&kelas=10 tkj&no=230&text=Cinta adalah suatu emosi dari kasih sayang yang kuat dan ketertarikan pribadi. Cinta juga dapat diartikan sebagai suatu perasaan dalam diri seseorang akibat faktor pembentuknya.&apikey=" target="_blank">nulis</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTextPro2" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fas fa-highlighter"></i>
                    <span>Photooxy page</span>
                </a>
                <div id="collapseTextPro2" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Photooxy Features</h6>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/poly?text=Maker api&apikey=">Poly (Mp4)</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/bold?text=maker api&apikey=">Bold (Mp4)</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/colorful?text=Maker  api&apikey=">Colorful (Mp4)</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/army?text=Maker  api&apikey=">army</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/retro?text=Maker  api&apikey=">retro</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/shadow?text=Maker &apikey=">shadow</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/flaming?text=Maker &apikey=">flaming</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/rainbow?text=Maker &apikey=">rainbow</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/smoke?text=Maker &apikey=">smoke</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/love?text=Maker &apikey=">love</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/wood?text=Maker &apikey=">wood</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/coffee?text=Maker &apikey=">coffee</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/stars?text=Maker &apikey=">Stars</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/butterfly?text=Maker &apikey=">butterfly</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/summer?text=Maker &apikey=">Summer</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/candy?text=Maker &apikey=">candy</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/royal?text=Maker &apikey=">royal</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/underwater?text=Maker &apikey=">underwater</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/paper?text=Maker &apikey=">paper</a>
                        <a class="collapse-item" target="_blank" href="/api/photooxy/fur?text=Maker &apikey=">fur</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Contact
            </div>
            <li class="nav-item">
                <a class="nav-link" href="https://wa.me//6287877173955">
                    <i class="fab fa-whatsapp"></i>
                    <span>whatsapp</span>
                </a>
                                <a class="nav-link" href="https://chat.whatsapp.com/DohjNbwGSr8FgZRQXJbIRq">
                    <i class="fab fa-whatsapp"></i>
                    <span>group whatsapp FDZ</span>
                </a>
            </li>
            <hr class="sidebar-divider">
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="https://avatars.githubusercontent.com/u/69185890?v=4" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">Maman Ketoprak</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
<span class="dropdown-item" id="mailuser"> User </span> 
         <div class="dropdown-divider"></div>
              
              
              
                <a class="dropdown-item" href="/profil">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <!--
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a> -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/logout" >
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
                    </ul>
                </nav>
                <!-- Topbar -->

                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">

                    <div class="row mb-3">
                        <!-- Earnings (Monthly) Card Example -->
                        
                                                <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Ohayo</div>
                                            <div class="h5 mb-0 font-weight-bold">Mina-chan</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                                                                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Total user</div>
                                            <div class="h5 mb-0 font-weight-bold">.</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-users fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Visitor</div>
                                            <div class="h5 mb-0 font-weight-bold">.</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-eye fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    
                    
      </div> 
     </div> 
                    
                    
                    <!--Row-->
                    <div class="row">
                      
                        <div class="col-lg-12 text-center">
                            Someone want to donate me?
                            <p>
                                <a href="https://trakteer.id/FERDIZ-AFK" class="btn btn-primary btn-sm mr-2" target="_blank"><i class="fa fa-fw fa-wallet"></i>&nbsp;Trakteer</a>OR
                                <a href="https://saweria.co/Ferdizafk" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fa fa-fw fa-wallet"></i>&nbsp;saweria</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!---Container Fluid-->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        Made with <i class="fa fa-heart"></i> by
                        <a href="https://wa.me//6287877173955" target="_blank" style="color: #fff;">FERDI Z-AFK</a>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="https://oni-chan.my.id/LoLHuman/vendor/jquery/jquery.min.js"></script>
    <script src="https://oni-chan.my.id/LoLHuman/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://oni-chan.my.id/LoLHuman/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://oni-chan.my.id/LoLHuman/js/ruang-admin.min.js"></script>
</body>

</html>